<h2><%= @user.name %></h2>
<p><%= @user.bio %></p>
<%= link_to 'text', user_posts_path(@user) %>
<hr>
<p><%= link_to "Users List", users_path %></p>
<p><%= link_to "Edit", edit_user_path %></p>
<%= form_for @user, html: {method: "delete"} do |f| %>
  <%= f.submit "Delete #{@user.name}" %>
<% end %>
<%= link_to 'go to user profile', @user %>
<%= link_to 'create new post', new_user_post_path(@user) %>
